<div class="form-input">
  <label >{{label}}</label>

  <input *ngIf="controlType === 'input'; else textarea" [type]="password ? 'password' : 'text'" [formControl]="control" autocomplete="off">
  <ng-template #textarea>
    <textarea  [formControl]="control" autocomplete="off"></textarea>
  </ng-template>
  <div *ngIf="control.touched && control.invalid" class="validation">
    <small *ngIf="control.errors.required">This field is requiered</small>
    <small *ngIf="control.errors.email">Enter valid email</small>
    <small *ngIf="control.errors.minlength">Field might be longer then {{control.errors.minlength.requiredLength}} charecters</small>
    <small *ngIf="control.errors.maxlength">Field might be no longer then 20 charecters</small>
    <small *ngIf="control.errors.nonUique">Username alredy exists  </small>
    <small *ngIf="control.errors.pattern">Only can includes a-z characters</small>
    <small *ngIf="control.errors.NotWrightPass">Must contains upperCase number and sign</small>
    <small *ngIf="control.errors.noConnection">No internet connection</small>
  </div>
</div>
