<h3>Login to account</h3>
<form  (ngSubmit)="submit()" [formGroup]="form">
  <app-input [control]="form.get('username')" [label]="'Username'"></app-input>
  <app-input [control]="form.get('password')" [label]="'Password'" [password]="password"></app-input>
  <div class="ui checkbox">
    <input type="checkbox" id="checkbox" (change)="password = !password">
    <label for="checkbox">Show password</label>
  </div>
  <div class="form-questions">
    <a routerLink="/signup">Create new ?</a>
    <a *ngIf="errorcounter>1">Forgot password?</a>
  </div>
  <button type="submit" class="form-button" [disabled]="form.invalid">Submit</button>
</form>
