<h3>Create an Account</h3>
<form  (ngSubmit)="submit()" [formGroup]="form">
  <app-input [control]="form.get('username')" [label]="'Username'"></app-input>
  <app-input [control]="form.get('password')" [label]="'Password'" [password]="password"></app-input>
  <app-input [control]="form.get('passwordConfirm')" [label]="'Password Confirmation'" [password]="password"></app-input>
  <div *ngIf="form.get('password').touched && form.get('passwordConfirm').touched && form.errors ">
    <small *ngIf="form.errors.passDontMatch"> Confirmation password doesnt match Password</small>
  </div>
  <div class="ui checkbox">
    <input type="checkbox" id="checkbox" (change)="password = !password">
    <label for="checkbox">Show password</label>
  </div>
  <div class="form-questions">
    <a routerLink="/">Alredy have an account? Sign In</a>
  </div>
  <div *ngIf="form.get('password').touched && form.get('passwordConfirm').touched && form.errors && form.get('username').touched ">
    <small *ngIf="form.errors.noConnection">Please check you internet connection and try again</small>
  </div>
  <button type="submit" class="form-button" [disabled]="form.invalid">Submit</button>
</form>

