.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-items a {
  color: white;
  text-decoration: none;
  padding-left: 1rem;
}

.navigation-items a.active {
  color: #b1b1b1;
}
